@font-face {
    font-family: "Kindergarten";
    src: url(Kindergarten.ttf) format("truetype");
}
body{
	
	margin:auto auto;
}
a, a:focus, a:active{
	outline:none !important;
}
ul li{
	list-style:none;
}
/*Accordion styles override*/
.accordion-section-title{
	padding:25px 15px !important;
}
.navigation{
	height:auto;
	width:100%;
	margin:auto auto;
	background-color: #000;
}
.navigation ul{
	list-style-type: none;
	padding:0px 0px 5px 0px;
}
.navigation ul li{
	display:inline-block;
	padding:8px 10px 8px 10px;
	width:23%;
	text-align:center;
	cursor:pointer;
}
.navigation ul li a{
	color:#ccc !important;
}
.navigation ul li i{
	font-size:28px;
	color:#eee;
	position:relative;
	margin-right:8px;
	bottom:-3px;
}

.navigation ul li.mobile-nav-icon{
	position:relative;
	display: none
}
.navigation ul li.mobile-nav-icon a#menuText, 
.navigation ul li.mobile-nav-icon a.fa-bars{
	font-size:28px;
}
.navigation ul li.mobile-nav-icon a#menuText{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:lighter;
	float:left;
	width:71%;
}
.navigation ul li.mobile-nav-icon a.fa-bars{
	margin: 6px 14px;
	float:right;
}
.navigation ul li.hidden-nav-item{
	display:inline-block;
}
.navigation ul li#middleMenuItem{
	border-left:1px solid #d3d3d3;
	border-right:1px solid #d3d3d3;
	margin-top:10px;
}
.navigation ul li#LastMiddleMenuItem{
	border-right:1px solid #d3d3d3;
}

.navigation ul li a{
	text-decoration: none;
	color:#666;
	text-transform:capitalize;
	font-size:18px;
	font-weight:lighter;
	position:relative;
}
.navigation ul li a span{
	width:100px;
}
.active-nav-item{
	color:#d30517 !important;
}
.section{
	margin:auto auto;
	width:80%;
}
.section .info-boards{
	display:none;
	padding:20px 18px 30px;
}
.section .info-boards h1{
	font:lighter 18px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#111;
	border-radius:9px;
}
.section .info-boards ul li{
	font:lighter 17px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#111;
	padding:4px 0;
}
.section .info-boards p{
	font:lighter 19px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#000;
}
.fullscreen-video-section{
	width:100%;
	position:relative;
	/*margin:0px 0px 3px;*/
	border-bottom:10px solid #d30517;
	height:650px;
	overflow:hidden;
	background-color:rgb(6,6,6);
	background-color:rgba(0,0,0,.9);
	
}

.fullscreen-video-section .vid{
	width:100%;
	height:100%;
	margin:auto auto;
	padding:40px;
	
	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	transition:0.4s;
}
.fullscreen-video-section .vid .loading-animation{
	width:100%;
	height:100%;
	position:absolute;
	z-index:0;
	margin:auto auto;
	text-align:center;
}
.fullscreen-video-section .vid .loading-animation .fa-3x{
	color:#fff;
	margin-top:25%;
	font-size:50px;
}
.shift-vid-section{
	margin-left:50% !important;
	width:50% !important;
}
.shift-centered-content{
	width: 48% !important;
    margin: 150px 51% !important;
}
.smaller-font-size{
	font-size:22px !important;
}
.shift-vid-left{
	position:relative;
	left:-50% !important;
}
.fullscreen-video-section .vid iframe{
	width:100%;
	height:80%;
	position:relative;
	z-index:2;
	
}

.fullscreen-video-section #video-overlay{
	position:absolute;
	left:0px;
	width:100%;
	height:100%;
	margin:auto auto;
	background-color:rgb(0, 0, 0);
	background-color:rgba(0, 0, 0, 0.9);
	z-index:999;
	-webkit-transition:0.25s linear;
	-moz-transition:0.25s linear;
	transition:0.25s linear;
}

.fullscreen-video-section #video-overlay .centered-contet{
	width:70%;
	margin:190px auto;
}
.reduced-margin-top{
	margin:200px auto;
}
div#videoFooter{
	margin-top:110px;
	clear:both;
	text-align:center;
	width:100%;
}
div#videoFooter span{
	color:#fff;
	font-size:34px;
	padding:5px;
	display:inline-block;
	cursor:pointer;
}
.fullscreen-video-section #video-overlay .centered-contet #videoFooter img{
	width:100px;
	height:auto;
	vertical-align:bottom;
}

.fullscreen-video-section #video-overlay .centered-contet #videoFooter span#alignRight{
	color:#d30517;
	float:right;
	text-align:right;
	font:lighter 18px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.fullscreen-video-section #video-overlay .centered-contet #videoFooter span#alignRight i{
	color:#ffffff;
}

.fullscreen-video-section #video-overlay .centered-contet .video-navigation{
	text-align:center;
	width:90px;
	margin:auto auto;
	/*position:absolute;*/
	/*top:0;
	right:0;*/
	float:right;

}
.fullscreen-video-section #video-overlay .centered-contet .bottom-navigation{
	bottom:0;
}
.fullscreen-video-section #video-overlay .centered-contet .video-navigation .video-counter{
	color:#666;
	font:normal 14px "Helvetica Neue" ,Helvetica, Arial, sans-serif;
	cursor:unset;
	/*display:none;*/
}
.fullscreen-video-section #video-overlay .centered-contet .video-navigation span.video-nav-buttons{
	/*display:none;*/
}
.fullscreen-video-section #video-overlay .centered-contet .video-navigation span{
	font-size:27px;
	margin:14px 0px;
	color:#ffffff;
	cursor:pointer;
	padding-right:2px !important;
}
.fullscreen-video-section #video-overlay .centered-contet .video-navigation span#prev{
	float:left;
}
.fullscreen-video-section #video-overlay .centered-contet .video-navigation span#loader-icon{
	color:#111;
	cursor:unset;
	display:none;
}
.fullscreen-video-section #video-overlay .centered-contet .video-navigation span#next{
	float:right;
}
.fullscreen-video-section #video-overlay h1{
	border-bottom:1px solid #333;
	padding-bottom:15px;
	position:relative;
}
.fullscreen-video-section #video-overlay h1 span#textContainer{
	font:lighter 23px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#d30517;
	padding-bottom:10px;
	cursor:text;
}
.fullscreen-video-section #video-overlay h1 span{
	font-size:35px;
	padding-right:15px;
	color:#fff;
	cursor:pointer;

}
span#pause{
	color:#000;
	font-size:1px !important;
	color:#000;
	opacity:0;
	/*font-size:31px !important;*/
	padding-right:1px !important;
	position:relative;
}
.inavtiveButton{
	color:#999 !important;
}
.activeButton{
	color:#fff !important;
}
.fullscreen-video-section #video-overlay h1 span#VideoCloseIcon{
	/*position:absolute;*/
	/*top:40px;*/
	/*right:90px;*/
	float:right;
	text-align: right;
	cursor:pointer;
	font-size:35px;
	color:#d30517;
	clear:both;
	/*color:#fff;*/
	margin-right:-10px;
	margin-top:-120px;
}
.fullscreen-video-section #video-overlay p{
	color:#eee;
	padding:30px 0px;
	height:220px;
	font:lighter 20px "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.fullscreen-video-section .vid .moreVids{
	margin-top:10px;
	border-top:1px solid #222;
	border-bottom:1px solid #222;
	/*width:auto;*/
	height:105px;
	overflow:hidden;
	display:block;
	padding:3px 10px 10px 10px;
	display:none;
	position:relative;
	/*z-index:99;
	padding:20px;
	right:40px;
	bottom:10px;*/
}
.fullscreen-video-section .vid{
	position:relative;
}
.fullscreen-video-section .vid .more-videos-nav{
	
	position: absolute;
    font-size: 56px;
    /* left: -34px; */
    
    bottom: 30px;
    font-weight: lighter;
    color: #f1f1f1;
    cursor: pointer;
}
span.more-videos-nav.fa.fa-angle-left {
    left: 15px;
    transition:0.23s ease-in-out;
}
span.more-videos-nav.fa.fa-angle-right {
    right: 5px;
    /*Initially hide this*/
    /*z-index:-1;*/
     transition:0.23s ease-in-out;
}
.fullscreen-video-section .vid h1{
	font:lighter 18px "Helvetica Neue",Helvetica,Arial,sans-serif;
	color:#eee;
	margin:5px 0 0;
	padding:0;
	position:relative;
	z-index:99;
}

.fullscreen-video-section .vid h1 span#autoplay-option{
	float:right;
	color:#e1e1e1;
	opacity:.8;
	background-color: #25282b;
	border-radius: 3px;
	padding:15px;
	padding:5px;
	border-radius: 3px;
	text-align:center;
	font-size:13px;
	cursor:pointer;

}
.autoplayon{
	background-color:#000 !important;
	color:#fff !important;
	border:1px solid #444;
}

.fullscreen-video-section .vid h1 span#autoplay-option i{
	margin-left:10px;
	font-size:13px;
}
.fullscreen-video-section .vid .moreVids ul{
	width:6500px;
	margin:auto auto;
	padding:0;
	text-align:center;
}
.fullscreen-video-section .vid .moreVids ul li{
	float:left;
	margin:15px 6px;
	padding:10px;
 	position: relative;
	/* x% of whatever the width of .fullscreen-video-section .vid .moreVids ul is*/

	width:140px;
	height:75px;
	background-color:rgba(45, 45, 45, 0.5);
	/*background:url("http://images.enca.com/encadrupal/styles/600_383/s3/2015-04-08T031724Z_252637037_GF10000051472_RTRMADP_3_INDONESIA-CRIME.JPG");*/
	background-position: center center;
	background-size: 100%;
	text-align:center;
	overflow:hidden;
	border-bottom:5px solid #333;
	/*cursor:pointer;*/


}
.fullscreen-video-section .vid .moreVids ul li span#live-video{
	background:#d30517;
	position:absolute;
	z-index:999;
	color:#fff;
	padding:3px;
	text-align:center;
	width:auto;
	right:0px;
	top:0px;
	display:none;
	margin-bottom:2px;
	letter-spacing: 1px;
	font:lighter 13px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.fullscreen-video-section .vid .moreVids ul li span#currently-playing{
	color:white;
	background:rgb(0,0,0);
	background:rgba(0,0,0,0.8);
	padding:4px;
	font:bold 1rem "Helvetica Neue",Helvetica,Arial,sans-serif;
	/*width:100%;*/
	position:absolute;
	left:0;
	bottom:0;
}
.fullscreen-video-section .vid .moreVids ul li:hover{
	background-color:rgba(0, 0, 0, 0.6);
	border-bottom-color:#111;
	
	/*Remove the line below when play icons are put back*/
	cursor:pointer;
}

.fullscreen-video-section .vid .moreVids ul li a #playerThumbNail{
	color:#fff;
	font-size:50px;
	display:none;
}
.fullscreen-video-section .vid .moreVids ul li a #playerThumbNail:hover{
	color:red;
}

p#small-vid-overlay{
	/*display:none;*/
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background-color:rgb(6,6,6);
	background-color:rgba(0,0,0,0.6);
	text-align:left;
	padding:4px;
	color:#fff;
	
}
p#small-vid-overlay span:not(#text){
	margin-right:8px;
	float:left;
	font-size:19px;
	height:40%;
	/*color:#d30517;*/
	color:#ffffff;
}
p#small-vid-overlay span#text{
	font:lighter 15px "Helvetica Neue",Helvetica,Arial,sans-serif;
	float:left;
	width:75%;
	height:74%;
}
p#small-vid-overlay span#dateHolder{
	float:right;
	clear:both;
	padding-top:3px;
	color:orange;
	font:lighter 13px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.fullscreen-video-section .vid .moreVids ul li:hover p#small-vid-overlay{
	display:block;
	background-color:rgba(0,0,0,0.4);
}

@media screen and (max-width: 1510px){
	body{
		/*width:85%;*/
		width:100%;
		margin:auto auto;
	}
	.center{
		width:100%;
	}
	.section{
		/*margin:20px 30px !important;*/
	}
	h1{
		font-size:110% !important;
	}

}

@media screen and (max-width: 1400px){
	
	.fullscreen-video-section #video-overlay p{
		height:400px;
	}
		.fullscreen-video-section #video-overlay .centered-contet .video-navigation{
		float:none;
		position:absolute;
		right:5px;
		bottom:-24px;
	}
	.fullscreen-video-section #video-overlay .centered-contet .video-navigation span{
		
		margin:-5px 0px !important;
	}
}
@media screen and (max-width: 1280px){
	.navigation ul li a{
		font-size:14px;
	}
	
	.fullscreen-video-section{
		height:700px;
	}
	#next-vid-text{
		/*display:none;*/
		
	}
	.fullscreen-video-section .vid h1{
		font-size:120% !important;
	}
	.fullscreen-video-section .vid .more-videos-nav{
		bottom:67px;
	}
	.fullscreen-video-section #video-overlay p{
		height:230px;
	}
	.fullscreen-video-section #video-overlay{
		display:none;
	}

	.fullscreen-video-section .vid h1{
		font-size:120%;
		padding:5px 20px;
	}
	.fullscreen-video-section .vid .more-videos-nav{
		bottom:38px;
		font-size:50px;
		font-weight:bolder;
	}
	 span.more-videos-nav.fa.fa-angle-left{
	 	left:5px;
	 	z-index:1;
	}
	/*.fullscreen-video-section .vid h1, .fullscreen-video-section .vid span{
		display:none;
	}*/
	.shift-vid-section{
		margin-left:0 !important;
		width:100% !important;
	}

	.fullscreen-video-section .vid{
		padding:0;
	}
	/*.fullscreen-video-section .vid .moreVids{
		display:none !important;
	}*/
	.fullscreen-video-section .vid iframe{
		height:75%;
	}
	/*.fullscreen-video-section .vid h1, .fullscreen-video-section .vid span{
		display:none;
	}*/
	/*.shift-vid-section{
		margin-left:0 !important;
		width:100% !important;
	}*/
	/*.fullscreen-video-section #video-overlay{
		display:none;
	}
	.fullscreen-video-section .vid{
		padding:0;
	}
	.fullscreen-video-section .vid .moreVids{
		display:none !important;
	}
	.fullscreen-video-section .vid iframe{
		height:100%;
	}
	.fullscreen-video-section{
		height:350px;
	}*/
}
@media screen and (max-width: 1000px){

	body{
		width:100%;
		margin:auto auto;
	}
	
}

@media screen and (max-width: 920px){
	
	.navigation ul{
		padding-bottom:0px;
	}
	.navigation ul li{
		width:100%;
		text-align:left;
		margin:0px 0px !important;
		padding:10px 0px 15px 26px;
		border-top:1px solid #222 !important;
	}
	.navigation ul li#middleMenuItem, .navigation ul li#LastMiddleMenuItem{
		border-right:none;
		border-left:none;
	}
	.navigation ul li a{
		font-size:17px;
	}
	.navigation ul li#middleMenuItem img{
		/*margin-right:23px;*/
	}
	.navigation ul li#middleMenuItem{
		margin-top:0px;
	}

	/*Menu Controller Item*/
	.navigation ul li.mobile-nav-icon{
		display:inline-block;
	}
	.navigation ul li.hidden-nav-item{
		display:none;
	}
	.navigation ul li.mobile-nav-icon{
		border-bottom:none !important;
		padding-bottom:0px;;
	}
	

}
@media screen and (max-width:540px){
	.fullscreen-video-section .vid h1 span#autoplay-option{
		display:none;
	}
}
@media screen and (max-width:450px){
	.fullscreen-video-section .vid .more-videos-nav{
	    bottom:8px;
	}
}
